.ce-toolbar__settings-btn {
    width: 35px;
    height: 35px;
}

a:hover{
    text-decoration: none;
}

.icon{
    width: 15px;
    height: 15px;
}

.newscard{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin-bottom: 3rem;
    border-radius: 15px;
    user-select: none;
}

.newscard:last-child{
    margin-bottom: 1rem;
}

.newscard.small{
    height: 150px;
}

.newscard.small .newscard__info{
    display: flex;
    flex-direction: column;
}

.newscard__image--block{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
}

.newscard__img{
    object-fit: cover;
}

.newscard__info{
    position: absolute;
    display: flex;
    z-index: 2;
    padding: 10px 20px;
    width: 100%;
}

.newscard__date {
    margin-bottom: 10px;
}

.newscard__tools{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.newscard__tools delete{
    color: red
}

.item__gradient {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .5s ease;
}

.btn-indigo{
    color: white;
}

.btn-indigo:hover{
    color: white;
}


.btn-indigo a {
    width: 100%;
}

.btn-indigo a:hover {
    color: white;
    text-decoration: none;
}

.md-form{
    width: 100%;
}

header li.nav-item {
    margin: 0 10px;
}

.react-share__ShareButton:focus{
    outline: none;
    border: none
}

.stub{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center
}

.stub__img{
    max-width: 600px;
    height: auto
}

.accordion{
    border: none;
}

.accordion .card-header{
    background: white !important;
}

.accordion__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 0;
}

.accordion__button:focus, .accordion__button:hover{
    text-decoration: none;
}

.accordion__collapse{
    transition: 2s
}

.moderating__table tr {
    width: 100%;
}

.moderating__table td, .moderating__table th{
    text-align: center;
}

.goodscard{
    border-radius: 15px;
}

.nav-tabs li{
    max-width: 100%;
    min-width: 100%
}

.nav-tabs button{
    margin: 0 0 10px 0;
}

@media (min-width: 768px) {
    .nav-tabs li{
        max-width: none;
        min-width: auto
    }
}